
{% extends 'factory/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


<br>

<br><br><br><br><br>
<center><h2 style="align:center">List of Registered Panchayath</h2></center>


<div class="container" style=" ;

padding: 20px;width: 1200px; height: 800px; background-image: url({% static 'img/webp/r3.jpg' %});
 ">

           
  
 <table class="table table-bordered table-striped table-hover" style="width: 1100px; "  text-align="center">


<th class="info" style="background-color: White;">Panchayath Name</th>&nbsp
<th class="info" style="background-color: white;">Contact No</th>&nbsp
<th class="info" style="background-color: white;">Email</th>&nbsp
<th class="info" style="background-color: white;">Location</th>&nbsp


<th class="info" style="background-color: white; ">View Waste</th>&nbsp

{% for dri in sh  %}

<tr>
  <td style="color: white;"><b>{{ dri.user.first_name}}</td>
  {% comment %} <td>{{ dri.contractor.user.first_name}}</td> {% endcomment %}
  <td style="color: white;"><b>{{ dri.mobile}}</td>

  <td style="color: white;"><b>{{ dri.user.email}}</td>
  <td style="color: white;"><b>{{ dri.address}}</td>
  {% comment %} <td><img style="max-width:200px;max-height:140px;" src="/media/{{ dri.image}}"></td> {% endcomment %}

  <td ><a href="ViewW?id={{ dri.id}}" class=" btn btn-danger" style="background-color: white;">View</a></td>
  {% comment %} <td><a href="s_reject?id={{ dri.user_id}}" class=" btn btn-success " style="background-color: pink;">Reject</a></td> {% endcomment %}
  
{% endfor %}
</table>

</div>

<br><br><br><br><br> <br><br><br><br><br>
  <br><br><br><br><br>
  {% endblock %}