
{% extends 'admin/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


<br>

<br><br><br><br><br>
<center><h2 style="align:center">List of Users</h2></center>



<div class="container add-emp">		
   
  
 <table class="table table-bordered table-striped table-hover" style="width: 1150px">

  <thead height="50px" style="background-color:#00001a; color:white;">
    <tr>

<th class="info" >Name</th>&nbsp
<th class="info" >Contact No</th>&nbsp
<th class="info" >Email</th>&nbsp
<th class="info" >Address</th>&nbsp
<th class="info" >Panchayath</th>&nbsp
<th class="info" >Ward</th>&nbsp

    </tr>
  </thead>
  <tr></tr>
{% for dri in app_us  %}

<tr>
  <td>{{ dri.user.first_name}}</td>
  {% comment %} <td>{{ dri.contractor.user.first_name}}</td> {% endcomment %}
  <td>{{ dri.mobile}}</td>

  <td>{{ dri.user.email}}</td>
  <td>{{ dri.address}}</td>
  <td>{{ dri.panchayath.user.first_name}}</td>
  <td>{{ dri.ward}}</td>

  {% comment %} <td><img style="max-width:200px;max-height:140px;" src="/media/{{ dri.image}}"></td> {% endcomment %}

  

</tr>

{% endfor %}

</table>
</div>


  <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>
  {% endblock %}