
{% extends 'base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


<br>

<br><br><br>

<div class="w-100 overflow-hidden bg-gray-100" id="top">

  <div class="container position-relative">
    <div class="col-20 col-lg-7 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
      style="background-image: url({% static 'img/webp/interior11.webp' %});">

    </div>                  
    
    
   




    <div class="row">
      <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
        <h1 style="align:center">User Registeration</h1>
        <br>

        <div class="col-12 col-lg-8 text-center">
          <div class="row">
            <div class="grouped-inputs border bg-light p-2">
              <div class="row">
                <div class="col">
                  <br>
                  <div class="container position-relative">
                   
                  <form method="post" action="user_reg">
                      {% csrf_token %}
                      <input type="text"  name="fname" class="form-control p-3"  placeholder="First Name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>
                    <br>
                    <input type="text"  name="lname" class="form-control p-3"  placeholder="Last Name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>
                    <br>
                    
                    <input type="email" name="email" class="form-control p-3" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required onblur="validateEmail()">
                
                    <br>
                    <input type="tel" class="form-control p-3" name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact Number'" pattern="[6-9]{1}[0-9]{9}" title="Enter 10 digit number"required>
                
                    <br>
                    <input type="text" class="form-control p-3" name="location" placeholder="Location" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>
                    <br>
                    <select type="text" name="pid" class="form-control" placeholder="category">
                      <option value="">Select Panchayath</option>
                      {% for i in p %}
                      <option value="{{i.id}}">{{i.user.first_name}}</option>
                      {% endfor %}
                  </select><br>
                  
                    <select type="text" name="ward" class="form-control" placeholder="ward">
                      <option value="">Select Ward</option>
                     
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                  
                  </select><br>
                  
                    <!-- <input type="text" class="form-control p-3" name="ward" placeholder="Ward" required> -->
                
                  
                    <input type="password" class="form-control p-3"  name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" pattern = "[0-9]).{1,}[a-z]).{1,}[A-Z]).{8,}" title="Eight or more characters" required>       
      
      <br> <div class="form-group">    
          <input type="submit" value="Registration" class="btn btn-primary">
        </div>
      
                  </form>
                </div>
               
              </div>
            </div>
      
          </div>
        </div>


        
      </div>



    </div>
  </div>

</div>

{% comment %} <div class="container">
  
<div class="col-12 col-lg-8 text-center">
    <div class="row">
      <div class="grouped-inputs border bg-light p-2">
        <div class="row">
          <div class="col">
            <h1 style="align:center">User Registeration</h1>
            <div class="container position-relative">
             
            <form method="post" action="user_reg">
                {% csrf_token %}
                <input type="text"  name="name" class="form-control p-3"  placeholder="name" required>
              <br>
              
              <input type="email" name="email" class="form-control p-3" placeholder="email" required>
          
              <br>
              <input type="tel" class="form-control p-3" name="phone" placeholder="Phone" required>
          
              <br>
              <textarea class="form-control w-100" name="address"  cols="30" rows="3"  placeholder = ' Address' required ></textarea><br>
              <select type="text" name="pid" class="form-control" placeholder="category">
                <option value="">Select Panchayath</option>
                {% for i in p %}
                <option value="{{i.id}}">{{i.user.first_name}}</option>
                {% endfor %}
            </select><br>
              <br>
              <input type="password" class="form-control p-3"  name="password" placeholder="Password" required>       

<br> <div class="form-group">    
    <input type="submit" value="Registration" class="btn btn-primary">
  </div>

            </form>
          </div>
         
        </div>
      </div>

    </div>
  </div>
</div> {% endcomment %}

  <br><br><br><br><br>

  <script>
    function validateEmail() {
        var email = document.getElementById("email").value;
        var emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
    
        if(emailPattern.test(email)) {
            if (email.endsWith('.com')) {
                {% comment %} alert("Valid email!"); {% endcomment %}
                return true;
            } else {
                alert("Email must end with '.com'");
                return false;
            }
        } else {
            alert("Invalid email format");
            return false;
        }
    }
</script> 
  {% endblock %}